body {
    margin: 0em 1em;
    background-color: tan;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: white;
}

#selector-interface {
    display: flex;
    background-color: rgb(104, 78, 45);
    border-radius: 20px;
    min-height: 200px;
    width: 80vw;
    margin: auto;
}

#selections-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.selection {
    display: flex;
    margin: 1em;
    width: 100%;
    border: 3px solid white;
    border-radius: 20px;
    background-color: grey;
    color: white;
    font-size: 3em;
    align-items:center;
    justify-content: center;
}

.selection:hover {
    cursor: pointer;
}

#coffee {
    background-color: rgb(255, 28, 28);
    filter: saturate(50%);
}
#coffee:hover {
    filter: saturate(100%);
}

#restaurant {
    background-color: rgb(36, 255, 28);
    filter: saturate(50%);
}
#restaurant:hover {
    filter: saturate(100%);
}

#hotel {
    background-color: rgb(28, 183, 255);
    filter: saturate(50%);
}
#hotel:hover {
    filter: saturate(100%);
}

#market {
    background-color: rgb(217, 221, 0);
    filter: saturate(50%);
}
#market:hover {
    filter: saturate(100%);
}

#clear {
    text-align: center;
    background-color: rgb(138, 138, 138);
    filter: brightness(75%);
}
#clear:hover {
    filter: brightness(100%);
}

#map-container {
    padding: 1em;
    display: flex;
    justify-content: center;
}

#map {
    height: 80vh;
    width: 80vw;
}